<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1> Find Movies: {{searchbox.name}}</h1>
  
<p class="lead">
<div ng-init="query='Seattle'">
  <p>
       <label for="movieSearch">Search:
            <input type="text" name="movieSearch" ng-model="movieSearch">
          </label>
  </p>
 <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshSearchBox()">Search Movies</button>
        
  </p>
  <dl>
        <dt>Movie detail</dt>
    <dd>{{searchbox.results[0].original_title}}</dd>
     <dd>{{searchbox[0].original_title}}</dd>
      </dl>
  </div>
  </p>
</div>
