<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <h1> Find Movies: {{searchbox.name}}</h1>
  
<p class="lead">
<div ng-init="movieName='Seattle'">
  <p>
       <label for="movieSearch">Search:
            <input type="text" name="movieName" ng-model="movieName">
          </label>
  </p>
 <p>
          <button class="btn btn-lg btn-primary" ng-click="refreshSearchBox()">Search Movies</button>
        
  </p>
  <dl>
        <dt>Movie detail</dt>
    <dd>0 {{searchbox}}</dd>
     <dd>1 {{searchbox.page[1].results.original_title}}</dd>
    <dd>2  {{searchbox.results[0].original_title}}</dd>
    <dd>3 {{searchbox.results[0].overview}}</dd>
    <dd>4 {{searchbox.results.overview}}</dd>
      </dl>
  </div>
  </p>
</div>
